<div class="main">
	<div class="tabs">
		<div class="wrapper">
			<h1>OmniLaunchMC</h1>
			<ul id="tabs">
				<li id="tab-modpacks" onclick="selectPage('modpacks')">Modpacks</li>
				<li id="tab-accounts" onclick="selectPage('accounts')">Accounts</li>
				<li id="tab-settings" onclick="selectPage('settings')">Settings</li>
			</ul>
		</div>
	</div>
	<div id="main-content">
	</div>
	<div class="clear"></div>
	<div style="height: 55px;"></div>
	<div class="footer">
		<div class="wrapper">
			<div class="left">
				<div id="username">Loading...</div>
			</div>
			<div class="right">
				v0.0.1 - <a onclick="logout()">Logout</a>
			</div>
		</div>
	</div>
	<script src="public/js/main-page.min.js"></script>
</div>