<div id="addPack" class="addPack" style="display: none;">
	<div class="modal animated">
		<h1>Pack Creation</h1>
		<div id="pack-content">
		</div>
		<div class="footer">
			<button onclick="(next || function() {})();" style="margin-right: 4px;">NEXT</button>
			<button>CANCEL</button>
		</div>
	</div>
</div>
<div class="modpacks">
	<div class="packs">
		<div class="left">
			<div id="packs">
			</div>
			<button class="create-pack" onclick="showPackDialog();">CREATE PACK</button>
		</div>
		<div class="preview">
		</div>
	</div>
	<div class="footer">
		<div class="left">
			<div id="username">Loading...</div>
		</div>
		<div class="right">
			v0.0.1 - Logout
		</div>
	</div>
	<script src="public/js/modpacks.js"></script>
</div>