<div class="modpacks">
	<div class="packs">
		<div class="left">
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
			<div class="pack">
				<img src="public/img/minecraft.png" alt="Vanilla" /><div class="text">Vanilla</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="preview">
			
		</div>
	</div>
	<div class="footer">
		<div class="left">
			<div id="username">Loading...</div>
		</div>
		<div class="right">
			v0.0.1 - Logout
		</div>
	</div>
	<script src="public/js/modpacks.js"></script>
	<script>
		loadModPacks();
	</script>
</div>
