<div id="addPack" class="addPack" style="display: none;">
	<div class="modal animated">
		<h1 id="pack-title">Pack Creation</h1>
		<div id="pack-content">
		</div>
		<div class="footer">
			<div class="footer-actions" id="modal-next-cancel" style="display: none">
				<button onclick="if(next) next();" style="margin-right: 4px;">NEXT</button>
				<button onclick="hidePackDialog()">CANCEL</button>
			</div>
			<div class="footer-actions" id="modal-save-cancel" style="display: none">
				<button onclick="if(saveModal) saveModal();" style="margin-right: 4px;">SAVE</button>
				<button onclick="hidePackDialog()">CANCEL</button>
			</div>
			<div class="footer-actions" id="modal-import-play-close" style="display: none">
				<button onclick="hidePackDialog()">CLOSE</button>
				<button onclick="startMinecraft(mcID)">PLAY</button>
				<button onclick="importLibs()" title="This is necessary if you imported a modded version of Minecraft">IMPORT LIBRARIES</button>
			</div>
		</div>
	</div>
</div>
<div class="modpacks">
	<div class="packs">
		<div id="packs">
		</div>
	</div>
	<script src="public/js/modpacks.min.js"></script>
</div>