@import url(roboto.css);
@import url(modpacks.css);
body, html {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #263238;
	overflow-x: hidden;
}
.clear {
	clear: both;
}
.login {
	background-color: #37474F;
	color: white;
	width: 100%;
	max-width: 800px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	-webkit-user-select: none;
	cursor: default;
	height: 400px;
	box-sizing: border-box;
}
.login h1 {
	color: #80CBC4;
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding: 8px 0;
	font-size: 2.4em;
}
.login h2 {
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding-bottom: 4px;
	font-size: 1.4em;
}
.login .left {
	float: left;
	width: 50%;
	border-right: 1px solid #263238;
	box-sizing: border-box;
	padding: 8px;
	padding-bottom: 0;
	margin-bottom: 8px;
	position: absolute;
	top: 60px;
	bottom: 0;
}
.login .right {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding: 8px;
	padding-bottom: 0;
	margin-bottom: 8px;
	position: absolute;
	right: 0;
	top: 60px;
	bottom: 0;
}
.login .left input.full {
	font-family: Roboto, sans-serif;
	display: block;
	width: 100%;
	margin-bottom: 9px;
	background-color: #455A64;
	outline: none;
	padding: 6px;
	border: none;
	color: white;
	box-sizing: border-box;
	border-bottom: 1px solid #263238;
}
.login .left input.full:focus {
	border-bottom: 2px solid #80CBC4;
	margin-bottom: 8px;
}
.login .right input {
	display: none;
}
.login .right #profiles {
	height: 250px;
	overflow-y: auto;
}
.login .right label {
	display: block;
	padding: 4px;
	cursor: pointer;
}
.login .right label.active {
	background-color: #455A64;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	color: white;
}
.login button {
	font-family: Roboto, sans-serif;
	display: block;
	outline: none;
	width: calc(100% - 16px);
	padding: 8px 0;
	border: none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
}
.login button:hover {
	background-color: #26A69A;
}
.tealButton {
	background-color: #009688;
	color: white;
	cursor: pointer;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.tealButton:hover {
	background-color: #4DB6AC;
}
.commonButton {
	outline: none;
	border: none;
	padding: 4px 6px;
	font-size: 1em;
	text-align: center;
}
.commonButton.big {
	padding: 8px 20px;
}
input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/checkbox-unchecked.png);
	vertical-align: center;
	outline: none;
	margin: 0 3px 0 0;
}
input[type="checkbox"]:checked {
	background-image: url(../img/checkbox-checked.png);
}
.fileViewText {
	float: left;
	width: calc(100% - 200px);
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
}
.fileViewButton {
	box-sizing: border-box;
	width: 196px;
	border: none;
	outline: none;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
	float: right;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
}